body {
    background-color: rgb(251, 45, 68);
    background-color: aliceblue;
}

header {
    background-image: url(https://i.pinimg.com/736x/db/67/52/db6752ae3c7cdfc44c61dbe77a6505f5.jpg);
}

article {
    background-color: rgb(242, 235, 154);
}